body {
    text-align: center;
}

header {
    border: 2px solid black;
}

#content {
    border: 2px solid black;
    margin-top: 20px;

    display: grid;
    grid-template-columns: auto 200px;
    grid-gap: 20px;
    padding: 20px;
    
}

/*CONTENIDO BLOCK 01*/

#content #c1{
   border: 2px solid black;
}

    #list {
        display: grid;
        grid-auto-flow: row;
        row-gap: 20px;
        border: 1px solid black;


    }

        #list img {
            width: 100%;
            max-height: 200px;
            height: auto;
        }

    .listInfo {
        display: none;
    }

/*CONTENIDO BLOCK 01 CIERRE*/

/*CONTENIDO BLOCK 02*/

#content #c2{
    border: 2px solid black;
}

/*CONTENIDO BLOCK 02 CIERRE*/


/*@MEDIA*/

@media only screen and (max-width: 720px) {
    #content{
        grid-template-columns: auto;
    }
  }

  @media only screen and (max-width: 320px) {
    #content{
        grid-template-columns: auto;
    }
  }

  /*PLUGINS*/

  