
/*-----------------------------------DEFAULT-------------------------------------*/
body{
    margin: 0;
    background-color: #52006A;
}
#navbar{
    height: 10vw;
    background-color: #CD113B;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    align-items: center;
    border-bottom-left-radius: 5vw;
    border-bottom-right-radius: 5vw;
}

    #navpop{
        display: none;
    }

    .navbutton{
        text-align: center;
        height: 2vw;
        width: auto;
        color: #FFA900;
        font-size: 1.8vw;
        font-weight: bold;
        font-family: 'Courier New', Courier, monospace;
    }

    a{
        text-decoration: none;
    }

    .navbutton:hover, .navbutton2:hover{
        background-color: #52006A;
        border-radius: 10vw;
    }

    .navbutton:hover, #logo:hover, .new, .navbutton2:hover, #navpop:hover, #comprar, .myBtn{
        cursor: pointer;
    }

    #logo{
        border-radius: 10vw;           
        height: 8vw;
        width: 25vw;
        background-color: #FF7600;
    }

        #logo img{
            margin-left: 4%;
            width: 90%;
        }

        #navbar2{
            height: auto;
            background-color:#CD113B;
            flex-direction: column;
            justify-content: space-around;
            position: relative;
            border-bottom-left-radius: 5vw;
            border-bottom-right-radius: 5vw;
            padding: 1vw;
            display: none;
        }

            .navbutton2{
                margin: 1vw;             
                height: auto;
                width: auto;
                color: #FFA900;
                font-size: 3vw;
                font-weight: bold;
                font-family: 'Courier New', Courier, monospace;
            }

            #comprar{
                background-color: #FFA900;
                border-radius: 3vw;
            }

    
    /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
    background-color: #CD113B;
    color: white;
  }
  
  .modal-body {padding: 2px 16px;}
  
  .modal-footer {
    padding: 2px 16px;
    background-color: #CD113B;
    color: white;
  }

/*-----------------------------------DEFAULT-------------------------------------*/


/*------------------------CLOSE NAVBAR2 IF DISPLAY=BLOCK--------------------------*/
@media (min-width: 721px) {
    #navbar2 {
        display: none !important;
    }
}
/*------------------------CLOSE NAVBAR2 IF DISPLAY=BLOCK--------------------------*/
 




/*-----------------------------------CONTENT-------------------------------------*/
#content{
    background-color: #52006A;
    margin-top: 20px;
    padding: 20px 100px;

    display: grid;
    row-gap: 50px;
    grid-auto-rows: 1fr;
    
    
}
/*-----------------------------------CONTENT-------------------------------------*/

/*-----------------------------------CONTENT_X-------------------------------------*/
.content_x{
    position: relative;
    background-color: #CD113B;
    display: grid;
    grid-template-columns: auto 100px;
    
}

.content_x:hover>.group>button{
    visibility: visible;
}

.content_x:hover>.group>p{
    
    visibility: hidden;

}

/*-----------------------------------CONTENT_X-------------------------------------*/


/*-----------------------------------CONTENT LISTA GRUPOS-------------------------------------*/
.content_x .group{
    background-color: #CD113B;
    display: grid;
    border: 2px solid #FF7600;
}

.content_x img {
    width: 100%;
}

.content_x button {
    position: absolute;
    bottom: 50px;

    visibility: hidden;
    margin: auto;
    padding: 20px 60px;
    font-size: large;
    border-radius: 20px;
    background-color: #FF7600;
    color: white;
    border: none;
}

.content_x button:hover {
    opacity: 0.7;
}

.content_x p {
    padding: 0px 50px;
}
/*-----------------------------------CONTENT LISTA GRUPOS-------------------------------------*/


/*-----------------------------------CONTENT GRUPOS HORARIO-------------------------------------*/
.content_x .timeGroup{
    background-color: #FF7600;
    text-align: center;
    font-size: 0px;
    padding: 10px;
    background-image: url(/img/barCode.png);
    background-size: cover;
}
/*-----------------------------------CONTENT GRUPOS HORARIO-------------------------------------*/


/*@MEDIA*/

@media only screen and (max-width: 720px) {
    
    #navbar2{
        display: none;    
    }
    
    .navbutton{
        display: none;
    }

    .a1{
        display: none;
    }

    #navbar{
        padding: 2vw;
        justify-content:space-between;
    }

    #navpop{
        display: initial;
    }

    .pop{
        width: 7vw;
        height: 1vw;
        background-color: black;
        margin: 1vw 0;
    }

#content {
    padding: 20px 50px;
}

    .content_x{
        grid-template-columns: auto;
        grid-template-rows: auto 25px;
    }

    .content_x .group{
        padding-bottom: 10px;
    }

    .content_x p{
        display: none;
    }

    .content_x button{
        display: none;
    }

    .content_x .timeGroup{
        display: block;
        background-color: #FF7600;
        background-image: none;
        font-size: large;
        padding: 0px;
    }

  }

  @media only screen and (max-width: 500px) {

    .content_x .group{
        padding: 0px;
    }

    .content_x button{
        display: none;
    }

  }


  /*PLUGINS*/

  