body{
    align-items: center;
    justify-content: center;
}

/* header{
    border: 2px black solid;
    padding: 3%;
    margin-top: 1%;
    width: 50%;
} */

.padre{
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
}

    .bloque1{
        border: 2px black solid;
        padding: 4%;
        text-align: center;
    }
    
    .bloque2{
        border: 2px black solid;
        padding: 4%;
        text-align: center;
    }

@media (max-width: 720px){
    .padre{
        grid-template-columns: auto;
    } 
}