/*-----------------------------------DEFAULT-------------------------------------*/
body{
    margin: 0;
    background-color: #52006A;
    height: 100px;
}
    #navbar{
        height: 10vw;
        background-color: #CD113B;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        position: relative;
        align-items: center;
        border-bottom-left-radius: 5vw;
        border-bottom-right-radius: 5vw;
    }

        #navpop{
            display: none;
        }

        .navbutton{
            text-align: center;
            height: 2vw;
            width: auto;
            color: #FFA900;
            font-size: 1.8vw;
            font-weight: bold;
            font-family: 'Courier New', Courier, monospace;
        }

        a{
            text-decoration: none;
        }

        .navbutton:hover, .navbutton2:hover{
            background-color: #52006A;
            border-radius: 10vw;
        }

        .navbutton:hover, #logo:hover, .new, .navbutton2:hover, #navpop:hover{
            cursor: pointer;
        }

        #logo{
            border-radius: 10vw;           
            height: 8vw;
            width: 25vw;
            background-color: #FF7600;
        }

            #logo img{
                margin-left: 4%;
                width: 90%;
            }

        #navbar2{
            height: auto;
            background-color:#CD113B;
            flex-direction: column;
            justify-content: space-around;
            position: relative;
            border-bottom-left-radius: 5vw;
            border-bottom-right-radius: 5vw;
            padding: 1vw;
            display: none;
        }

            .navbutton2{
                margin: 1vw;             
                height: auto;
                width: auto;
                color: #FFA900;
                font-size: 3vw;
                font-weight: bold;
                font-family: 'Courier New', Courier, monospace;
            }


    #carousel{
        margin: 1vw;
        background-color: #FF7600;
        height: 30vw;
        background-image: url("https://madcoolfestival.es/images/noticias/no_137.jpg");
        background-position-x: -1.5vw; 
        background-position-y: -18vw; 
        background-size: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

        #butentradas{
            width: 20vw;
            background-color: #FFA900;
            height: 6vw;
            margin-top: 18vw;
            margin-right: 2vw;
            border-radius: 3vw;
            text-align: center; 
            border: 5px solid #FF7600;           
        }

        #butentradas:hover{
            cursor: pointer;
            opacity: 70%;
        }
            #entradas{
                margin-top: 1.8vw;
                color: rgba(255, 255, 255, 0.774);
                font-weight: bold;
                font-size: 2.5vw;
                font-family:'Courier New', Courier, monospace;
                
            }

    #news{
        margin: 1vw;
        background-color: #CD113B;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

        #titlenot{
            text-align: center;
            width: 100%;
            color: white;
            font-weight: bold;
            font-size: 2.5vw;
            font-family:'Courier New', Courier, monospace;
            margin: 0;
            padding-top: 2vw;
        }

        #bannergif{
            height: 10vw;
            width: 100%;
            background-image: url("https://madcoolfestival.es/images/banners/Banner-Vibra-Mahou.gif");
            background-size: cover;
        }

        .new{
            margin: 2vw;
            border: 1px solid black;
            height: 25vw;
            width: calc(50% - 2px - 4vw);
            background-color:#FFA900;
        }

        #new1{
            background-image: url("https://madcoolfestival.es/images/noticias/no_139_thumb.jpg");
            background-size: cover;
        }

        #new2{
            background-image: url("https://madcoolfestival.es/images/noticias/no_136_thumb.jpg");
            background-size: cover;
        }

        #new3{
            background-image: url("https://madcoolfestival.es/images/noticias/no_135_thumb.png");
            background-size: cover;
        }

        #new4{
            background-image: url("https://madcoolfestival.es/images/noticias/no_134_thumb.jpg");
            background-size: cover;
        }
    
    #titlegal{
        text-align: center;
        color: white;
        background-color: #FFA900;
        font-weight: bold;
        font-size: 2.5vw;
        font-family:'Courier New', Courier, monospace;
        margin: 1vw;
        padding-top: 2vw;
        padding-bottom: 2vw;
        margin-bottom: -1vw;
    }
    

    #gallery{
        margin: 1vw;
        background-color:#FFA900;
        height: 28vw;
        display: grid;
        grid-template-columns: repeat(4, 4fr);
        
        grid-template-rows: repeat(2, 2fr);
    }

        #vid1{
            margin: 1vw;
            background-color:#FF7600;
            grid-column: 1 / 3;
            grid-row: 1 / 3 ;
            
        }

        #im1{
            margin: 1vw;
            background-color: #FF7600;
            grid-column: 3 / 4;
            grid-row: 1 / 2 ;
            background-image: url("https://cronicaglobal.elespanol.com/uploads/s1/53/81/27/4/madcool.jpeg");
            background-size: cover;
        }

        #im2{
            margin: 1vw;
            background-color: #FF7600;
            grid-column: 4 / 5;
            grid-row: 1 / 2 ;
            background-image: url("https://i.ytimg.com/vi/s0yD-UbcWfc/maxresdefault.jpg");
            background-size: cover;
        }

        #im3{
            margin: 1vw;
            background-color: #FF7600;
            grid-column: 3 / 4;
            grid-row: 2 / 3 ;
            background-image: url("https://imagenes.heraldo.es/files/image_990_v3/uploads/imagenes/2019/07/13/el-postureo-reina-en-el-mad-cool-1.jpeg");
            background-size: cover;
        }

        #im4{
            margin: 1vw;
            background-color: #FF7600;
            grid-column: 4 / 5;
            grid-row: 2 / 3;
            background-image: url("https://arc-anglerfish-eu-central-1-prod-prisa.s3.amazonaws.com/public/M6NBTXID65RLUELIP6NFGKI4VA.jpg");
            background-size: cover;
        }


    footer{
        border-top-left-radius: 5vw;
        border-top-right-radius: 5vw;
        height: auto;
        background-color: #973147;
        width: 100%;
    }


        #finfo{
            display: flex;
            flex-direction: row;
            
        }
            #fabout{
                padding: 2vw;
                width: 60%;
            }
            #patrocinadores{
                padding: 1vw;
                width: 40%;
            }
                #patrocinadores img{
                    padding: 1vw;
                    width: 5vw;            
                }

        #fredes img{
            width: 10vw;
        }
        #fredes div{
            padding: 1vw;
            width: 33vw;
        }
        #fredes{
            display: flex;
            flex-direction: row;
            
        }
            #derechosfooter{
                margin-top: 15px;
            }
            #logofooter{
                text-align: center;
            }
            #iconosredes{
                text-align: center;
            }

    hr{
        color: #52006A;
        background-color: #52006A;
        height: 0.2vw;
        border: none;
    }


/*-----------------------------------DEFAULT-------------------------------------*/





/*------------------------CLOSE NAVBAR2 IF DISPLAY=BLOCK--------------------------*/
@media (min-width: 721px) {
    #navbar2 {
        display: none !important;
    }
}
/*------------------------CLOSE NAVBAR2 IF DISPLAY=BLOCK--------------------------*/
    





/*------------------------TABLET-VIEW--------------------------*/
@media (max-width: 720px) {

    #navbar2{
        display: none;    
    }
    
    .navbutton{
        display: none;
    }

    .a1{
        display: none;
    }

    #navbar{
        padding: 2vw;
        justify-content:space-between;
    }

    #navpop{
        display: initial;
    }

    .pop{
        width: 7vw;
        height: 1vw;
        background-color: black;
        margin: 1vw 0;
    }

    #gallery{
        margin: 1vw;
        background-color:#FFA900;
        height: 120vw;
        display: grid;
        grid-template-columns: repeat(4, 4fr);  
        grid-template-rows: repeat(4, 2fr);
    }

        #vid1{
            margin: 1vw;
            background-color:#FF7600;
            grid-column: 1 / 5;
            grid-row: 1 / 3 ;
        }

        #im1{
            margin: 1vw;
            background-color:#FF7600;
            grid-column: 1 / 3;
            grid-row: 3 / 4 ;
        }

        #im2{
            margin: 1vw;
            background-color:#FF7600;
            grid-column: 3 / 5;
            grid-row: 3 / 4 ;
        }

        #im3{
            margin: 1vw;
            background-color:#FF7600;
            grid-column: 1 / 3;
            grid-row: 4 / 5 ;
        }

        #im4{
            margin: 1vw;
            background-color:#FF7600;
            grid-column: 3 / 5;
            grid-row: 4 / 5;
        }



    #news{
        margin: 1vw;
        background-color: #CD113B;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    
    
        .new{
            margin: 2vw;
            border: 1px solid black;
            height: 40vw;
            width: calc(100% - 2px - 4vw);
            background-color: #FFA900;
        }
    

    #carousel{
        margin: 1vw;
        background-color: #FF7600;
        height: 35vw;
    }
}
/*------------------------TABLET-VIEW--------------------------*/






/*------------------------PHONE-VIEW--------------------------*/
@media (max-width: 340px) {

    #gallery{
        margin: 1vw;
        background-color:#FFA900;
        height: 200vw;
        display: grid;
        grid-template-columns: repeat(4, 4fr);  
        grid-template-rows: repeat(10, 2fr);
    }

        #vid1{
            margin: 1vw;
            background-color: #FF7600;
            grid-column: 1 / 5;
            grid-row: 1 / 3 ;
        }

        #im1{
            margin: 1vw;
            background-color: #FF7600;
            grid-column: 1 / 5;
            grid-row: 3 / 5 ;
        }

        #im2{
            margin: 1vw;
            background-color: #FF7600;
            grid-column: 1 / 5;
            grid-row: 5 / 7 ;
        }

        #im3{
            margin: 1vw;
            background-color: #FF7600;
            grid-column: 1 / 5;
            grid-row: 7 / 9 ;
        }

        #im4{
            margin: 1vw;
            background-color: #FF7600;
            grid-column: 1 / 5;
            grid-row: 9 / 11;
        }  
}
/*------------------------PHONE-VIEW--------------------------*/








.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998;
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}